<h1>Tags#index</h1>
<%= link_to 'Top', root_path %>

<h2>Tags</h2>
<ul>
  <% @tags.each do |tag| %>
    <li>
      <%# タグの名前と、関連付く記事数を表示 %>
      <%= link_to "#{tag.name} ( Concerts: #{tag.concerts.count} )", admin_tag_path(tag) %>
    </li>
  <% end %>
</ul>