<footer class='fixed-bottom mt-5' style="z-index: 10;">
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>